---
---
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$twitter:        #6DABDA;
$facebook:       #365899;
$github:         #F6C2A4;
$discord:        #7289DA;


$darker:         #21211E;
$dark:           #2D2D29;
$medium:         #3B3B35;
$light-medium:   #969696;
$dark-blue:      #215A6D;
$light-blue:     #4EA2A2;
$green:          #10b923;
$light:          #DFECE6;
$white:          #FFFFFF;
$dark-purple:    #300030;
$medium-purple:  #480048;
$regular-purple: #601848;
$red:            #C04848;
$orange:         #F07241;


html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat';
  font-weight: 300;
  background-color: $dark;
  color: $white;
  height: 100%;
  width: 100%
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

hr {
  border-color: $light-medium;
}

table {
  width: 100%;
}

a, a:active {
  color: lime;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: $green;
  text-decoration: none;
}

.panel {
  background-color: $medium;
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
  border-left: 8px solid $green;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  .embedded-image {
    text-align: center;
  }
}

.header {
  text-align: center;
}

.links {
  text-align: center;

  .fab {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    color: $white;
    margin-left: 15px;
    margin-right: 15px;
  }

  .fa-discord:hover {
    color: $discord;
  }

  .fa-twitter:hover {
    color: $twitter;
  }

  .fa-facebook:hover {
    color: $facebook;
  }

  .fa-github-alt:hover {
    color: $github;
  }
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0.4);
}
