<div class="presentations-card">
    <h2>Presentations</h2>
    <ul class="presentations">

        <!-- Eventually make for-loop that works in the same way list.html works -->
        <li><span>
            <a href="https://docs.google.com/presentation/d/1iAQp5Db3E2x81Tlptn_U00hOD_0NdxtjtvsHmrreuK8/edit?usp=sharing">Intro to Cryptography</a>
            <time class="pull-right post-list">05 Nov 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1lHpI3S1X6rI6A5bZJckOxhUYGnmb5u7XO_efngjViRU/edit?usp=sharing">Reverse Engineering Part 2</a>
            <time class="pull-right post-list">29 Oct 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1cSHxLUQF0cc2eHv3gw4mGsr-_Jm5JD8if8Vgh_VDBgI/edit?ts=560c1ff2">Reverse Engineering x86 Binaries</a>
            <time class="pull-right post-list">22 Oct 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1xLfDEdB4eSk9cKWrF8wEZalxkRolmfSE1zl_g6VwBGs/edit?usp=sharing">MIT Lincoln Labs</a>
            <time class="pull-right post-list">15 Oct 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1AuToRvqeB1aa015u5S9GVxyFCTXEKjd_8OD5cQ237Lc/edit?usp=sharing">Pentesting Part 2</a>
            <time class="pull-right post-list">08 Oct 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1LuF7sCHJUGxZVc670pcyk2YDInVxxKKt3cjrhU2QYh0/edit?usp=sharing">NCC Group</a>
            <time class="pull-right post-list">01 Oct 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/13hqDj7yhywlc7TrWfkSOhtz_Y-7hAiTtP1lQnOHpQwk/edit?ts=5600b927">Lockpicking and CTF Recap</a>
            <time class="pull-right post-list">24 Sept 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1fZvD7d153rOzqXG4keZdibJDW5uDVcL0noM127fMUU0/edit?usp=sharing">Buffer Overflows and CTF Preparation</a>
            <time class="pull-right post-list">17 Sept 2015</time>
        </span></li>
        
        <li><span>
            <a href="https://docs.google.com/presentation/d/1PTCYLP5nWzzKzA_R6HLmkSXoocmwSDcWcxDRfDI6U1c/edit">Intro to Software Exploitation</a>
            <time class="pull-right post-list">10 Sept 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1epK3O_0Uu6-oY5w-eB2SqqvtpFLtQvprx3hhDeg987Q/edit?usp=sharing">Intro to Pentesting (Web Exploitation)</a>
            <time class="pull-right post-list">03 Sept 2015</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1w9w0EW-qfGcYarNebYsVMSLdJ3jfK44TOU7t7-HEVxI">Intro Meeting</a>
            <time class="pull-right post-list">27 Aug 2015</time>
        </span></li>
    </ul>
</div>