<div class="presentations-card">
    <h2>Presentations</h2>
    <ul class="presentations">

        <!-- Eventually make for-loop that works in the same way list.html works -->
<!--
hello
        <li><span>
            <a href="LINK">NAME OF PRESENTATION</a>
            <time class="pull-right post-list">DD Mon Year</time>
        </span></li>

-->

		<!-- new member task: add all of these -->

        <li><span>
            <a href="https://docs.google.com/presentation/d/1d98Bs5q_LFgx1IQnWBIgfOkGYOEfoc1qdbV9nIr3v6w">Intro Meeting: Fall 2018</a>
            <time class="pull-right post-list">06 Sep 2018</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1CR449XrRxjXkN0_FT6dy7t4gcnBVo8SVumsKPNnMGys/">MBE Lab 1</a>
            <time class="pull-right post-list">16 Nov 2017</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1eNYGEZaQgYnJ77IcduDkbof-3OdPQyjb-5yCUkPUSeI">Binary, Hexadecimal, and Base64</a>
            <time class="pull-right post-list">09 Feb 2017</time>
        </span></li>

        <li><span>
            <a href="https://drive.google.com/open?id=1cvj9AClyqszTeNn45pnGYFF0V4yEjGYlrjSBqVV4ON0">Reverse Engineering Part 2</a>
            <time class="pull-right post-list">12 Mar 2017</time>
        </span></li>

        <li><span>
            <a href="https://drive.google.com/open?id=18LdndMf_6pbS1GZ4w8sJiKZdAw0sEtRcio9wnWMvJ-E">Reverse Engineering Part 1</a>
            <time class="pull-right post-list">05 Mar 2017</time>
        </span></li>

        <li><span>
            <a href="https://drive.google.com/open?id=1w64-DbP72VUyHHBD2supXOg4hyRsDi5dJ83Y3RSGrPQ">Intro to Opsec</a>
            <time class="pull-right post-list">22 Feb 2017</time>
        </span></li>

        <li><span>
            <a href="https://docs.google.com/presentation/d/1TYPH97rN2Crz4lWgJFJ4Dxb16WyZ0yoII_sR7rCos4Q/edit?usp=sharing">Intro to Crypto</a>
            <time class="pull-right post-list">15 Feb 2017</time>
        </span></li>

        <li><span>
            <a href="https://drive.google.com/open?id=1KF-tiZacGtFFr1h1TAXazpWIdLOqbZh8hYIbqIyRdDE">Intro to CTF: Part 2</a>
            <time class="pull-right post-list">08 Feb 2017</time>
        </span></li>

        <li><span>
            <a href="https://drive.google.com/open?id=1hRcILyWDHK54MJ2J5uuWqd-WzEV7IQQsU9_IbbjuMa0">Intro to CTF</a>
            <time class="pull-right post-list">01 Feb 2017</time>
        </span></li>

        <li><span>
            <a href="https://drive.google.com/open?id=1wYevttsjO29YIpKd5PpudzeFem975X5GYDkn437iUWY">Introductory Meeting</a>
            <time class="pull-right post-list">26 Jan 2017</time>
        </span></li>
		<li><span>
			<a href="https://docs.google.com/presentation/d/1pYxPmQfwHzAjbGTjpbhWmjaU6jC2EtJzrGei7NCTCAg">Shells with Shaoyie</a>
		</span></li>
    </ul>
</div>
