<!-- This file contains formatting for individual meeting pages. -->

<a href='{{ page.slides }}'>Slides</a>
&nbsp;
{% if page.link-to-assets != "" %} <a href='{{ page.link-to-assets}}'>Required files</a>
<br>{% endif %}
<br> 

<h4>Goal</h4>
<p>{{ page.goal }}</p>
<br>

<h4>Topics Covered:</h4>
<div>
	<ul>
		{% for topic in page.list-of-topics %}
		<li>{{ topic }}</li>
		{% endfor %}
	</ul>
</div>
<br>


{% if page.how-to-run != "" %}
<h4>How to Run this meeting</h4>
<div>
	<ul>
		{% for bullet in page.how-to-run %}
		<li>{{ bullet }}</li>
		{% endfor %}
	</ul>
</div>
<br>
{% endif %}

<h4>Description</h4>
